<div class="container content-groups-explorer mt-4">
    {{#each groups}}
        <div class="card mb-5">
            <div class="card-header bg-dark text-light">
                <span>Grupo:</span>
                <div class="data-name-status">
                    <h3>{{this.nameGroup}}</h3>
                    {{#if (eq this.status "private")}}
                        <h3 class="d-flex align-items-center">
                            <span class="material-symbols-outlined p-2">
                                lock
                            </span>
                            {{this.status}}
                        </h3>
                    {{else}}
                        <h3 class="d-flex align-items-center">
                            <span class="material-symbols-outlined p-2">
                                public
                            </span>
                            {{this.status}}
                        </h3>
                    {{/if}}
                </div><br>
                <span>Criado por: </span>
                <div class="member-list-group">
                    <div>
                        <img src="http://drive.google.com/thumbnail?id={{this.createdBy.profilePicture}}" class="imgUserComent" alt="">
                    </div>
                    <div>
                        <span>{{this.createdBy.nameuser}}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <h5>Descrição:</h5>
                    <p>{{this.description}}</p>
                </div>
                <hr>
                <div>
                    <div>
                        <h4>Membros</h4>
                    </div>
                    {{#each members}}
                        <div class="member-list-group">
                            <div>
                                <img src="http://drive.google.com/thumbnail?id={{this.user.profilePicture}}" class="imgUserComent" alt="">
                            </div>
                            <div class="w-100 roleMembers">
                                {{#if (eq this.role "admin")}}
                                    {{this.user.nameuser}} <span class="text-success">{{this.role}}</span>
                                {{else}}
                                    {{this.user.nameuser}} <span>{{this.role}}</span>
                                {{/if}}
                            </div>
                        </div>
                        <hr>
                    {{/each}}
                </div>
            </div>
            <div class="card-footer p-3 d-flex justify-content-center">
                <a href="/user/group/{{this._id}}"><button class="btn btn-success">Acessar</button></a>
            </div>
        </div>
    {{else}}
        <div class="d-flex justify-content-center noneData">
            <h5>Nenhum grupo por aqui</h5>
        </div>
    {{/each}}
</div>