<header id="Header">
    <a href="/user/home">
        <div id="Logo"><img class="imglogoHome" src="/assets/images/logotipoECHO.png" alt=""></div>
    </a>
    <div id="Options">
        <a href="/user/about">
            <h3 class="Text_Options">Sobre</h3>
        </a>
        <a href="/user/resources">
            <h3 class="Text_Options">Recursos</h3>
        </a>
        <a href="/user/contact">
            <h3 class="Text_Options">Contato</h3>
        </a>
        <a href="/user/projects">
            <h3 class="Text_Options">Projetos</h3>
        </a>
        {{#if (eq nomeuser.role "admin")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>

        {{else if (eq nomeuser.role "SUPER_ADMIN")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>
        {{else if (eq nomeuser.role "user")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>
        {{else}}
            <a href="/user/login"><button class="NoLogin">Login/Sign in</button></a>
        {{/if}}
    </div>
</header>