<header id="Header">
    <a href="/user/home">
        <div id="Logo"><img class="imglogoHome" src="/assets/images/logotipoECHO.png" alt=""></div>
    </a>
    <div id="Options">
        <span onclick="closeMob()" class="material-symbols-outlined closeMob">
            close
        </span>
        <a href="/user/about">
            <h3 class="Text_Options">Sobre</h3>
        </a>
        <a href="/user/resources">
            <h3 class="Text_Options">Recursos</h3>
        </a>
        <a href="/user/contact">
            <h3 class="Text_Options">Contato</h3>
        </a>
        <a href="/user/projects">
            <h3 class="Text_Options">Projetos</h3>
        </a>
        {{#if User}}
            <a class="d-none" href="/user/login"><button class="NoLogin">Login/Sign in</button></a>
        {{else}}
            <a class="d-flex" href="/user/login"><button class="NoLogin">Login/Sign in</button></a>
        {{/if}}
    </div>
    <div>
        {{#if (eq nomeuser.role "admin")}}
            <div class="menuMobile d-none">
                <span onclick="openMenuMob()" class="material-symbols-outlined iconMenuMob">
                    menu
                </span>
            </div>
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>

        {{else if (eq nomeuser.role "SUPER_ADMIN")}}
            <div class="menuMobile d-none">
                <span onclick="openMenuMob()" class="material-symbols-outlined iconMenuMob">
                    menu
                </span>
            </div>
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>
        {{else if (eq nomeuser.role "user")}}
            <div class="menuMobile d-none">
                <span onclick="openMenuMob()" class="material-symbols-outlined iconMenuMob">
                    menu
                </span>
            </div>
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>
        {{else}}
        <div class="menuMobile">
            <span onclick="openMenuMob()" class="material-symbols-outlined iconMenuMob">
                menu
            </span>
        </div>
        {{/if}}
    </div>

</header>
