<header id="Header">
    <a href="/user/home">
        <div id="Logo"><img class="imglogoHome" src="/assets/images/logotipoECHO.png" alt=""></div>
    </a>
    <div id="Options">
        <h3 class="Text_Options">Sobre</h3>
        <h3 class="Text_Options">Recursos</h3>
        <a href="/user/contact">
            <h3 class="Text_Options">Contato</h3>
        </a>
        {{#if (eq nomeuser.role "admin")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>

        {{else if (eq nomeuser.role "SUPER_ADMIN")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>

        {{else if (eq nomeuser.role "user")}}
            <button onclick="ativeProfileUserTools()" id="Login_signin_btn">
                {{#if User.profilePicture}}
                    <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" alt="">
                {{else}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
                {{/if}}
            </button>
        {{else}}
            <a href="/user/login"><button class="NoLogin">Login/Sign in</button></a>
        {{/if}}
    </div>
</header>

{{!-- Janela de perfil --}}
<div class="window-profile-user-tools" id="window-profile-user-tools">
    <div class="profile-user-tools bg-light text-dark">
        <button class="closeProfileTools">
            <span class="material-symbols-outlined close-profile-user-tools-icon" onclick="closeWindowProfileToos()">
                cancel
            </span>
        </button>
        <div class="container content-profile-user-tools">
            <div class="card">
                <div class="card-header headerProfile">
                    <div class="dataUserHome" id="dataUser">
                        {{!-- Campo de edição de biografia ou adição --}}
                        <div class="iconAddBio">
                            <button onclick="ativeBio()" class="iconEditBio">
                                <span class="material-symbols-outlined iconAddB">
                                    edit_note
                                </span>
                            </button>
                            <form action="/user/home/bio" class="formAddBio" method="post">
                                <input type="hidden" name="userId" value="{{User._id}}">
                                <div class="bio" id="bio">
                                    {{#if User.biography}}
                                    <textarea name="biography" placeholder="Atualizar Biografia..." class="form-control"
                                        id="bioAdd"></textarea>
                                    {{else}}
                                    <textarea name="biography" placeholder="Adicionar bio..." class="form-control"
                                        id="bioAdd"></textarea>
                                    {{/if}}
                                    <div class="d-flex justify-content-center p-2">
                                        {{#if User.biography}}
                                        <button type="submit" class="btn btn-success">Atualizar</button>
                                        {{else}}
                                        <button type="submit" class="btn btn-success">Adicionar</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{!-- Campo de imagem e troca de imagem --}}
                        <div class="photPerfil">
                            {{#if (eq User.profilePicture)}}
                            <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9"
                                class="imgUser" alt="">
                            {{else}}
                            <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" class="imgUser"
                                alt="">
                            {{/if}}
                            <button class="btn btn-dark mt-4" onclick="ativeWindowPhoto()">Nova foto
                                <span class="material-symbols-outlined">
                                    image
                                </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="btnConections">
                        {{#if (eq nomeuser.role "user")}}
                        {{!-- Botão de listagem de amigos (users) --}}
                            <a href="/user/conections/{{User._id}}" class="text-decoration-none">
                                <button class="btn w-100 btn-success btnProfileTools">Amigos
                                    <span class="material-symbols-outlined">
                                        group
                                    </span>
                                </button>
                            </a>
                            {{!-- Botão de logout (users) --}}
                            <a href="/user/logout"><button class="btn btn-danger w-100">Sair</button></a>
                        {{else}}
                        {{!-- Botão de painel de administração admins --}}
                            <a href="/admin/dashboard" class="text-decoration-none">
                                <button class="btn btn-dark d-flex w-100 justify-content-center btnProfileTools">
                                    Painel de Administração
                                    <span class="material-symbols-outlined">
                                        admin_panel_settings
                                    </span>
                                </button>
                            </a>
                            {{!-- Botão de listagem de amigos (admins, SUPER_ADMIN) --}}
                            <a href="/user/conections/{{User._id}}" class="text-decoration-none">
                                <button class="btn w-100 btn-success btnProfileTools">Amigos
                                    <span class="material-symbols-outlined">
                                        group
                                    </span>
                                </button>
                            </a>
                            {{!-- Botão para criação de grupos --}}
                            <a href="/user/createGroup" class="text-decoration-none">
                                <button class="btn btn-success w-100 btnProfileTools">
                                    Criar grupo de estudos
                                    <span class="material-symbols-outlined">
                                        groups
                                    </span>
                                </button>
                            </a>
                            {{!-- Grupos de estudo --}}
                            <a href="/user/groupList" class="text-decoration-none">
                                <button class="btn btn-success w-100 btnProfileTools">
                                    Acessar Grupos de Estudos
                                    <span class="material-symbols-outlined">
                                        tenancy
                                    </span>
                                </button>
                            </a>
                            {{!-- Botão de logout (admins, SUPER_ADMINS) --}}
                            <a href="/user/logout" class="text-decoration-none "><button class="btn w-100 btn-danger btnProfileTools">Sair</button></a>
                        {{/if}}
                    </div>
                    {{!-- Biografia --}}
                    <div class="b">
                        <div class="card">
                        <div class="card-header">
                            <small>Biografia</small>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{User.nameuser}}</p>
                            {{#if User.biography}}
                                <footer class="blockquote-footer">{{User.biography}}</footer>
                            {{else}}
                                <footer class="blockquote-footer">Sem biografia...</footer>
                            {{/if}}
                            </blockquote>
                        </div>
                        </div>
                    </div>
                </div>
                {{!-- Busca de usuários --}}
                <div class="card-body">
                    <form action="/user/home/searchUser" method="get">
                        <div class="mb-3 formSearchUser">
                            <label class="mb-3" for="searchUser">Busque por outros usuários e aumente suas conexões de conhecimento:</label>
                            <input type="text" name="q" placeholder="Pesquisar" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>