
{{!-- Conteúdo de dashboard --}}
<div class="containerTop">
    <div class="iconContainer">
        <span class="material-symbols-outlined iconDash">
            monitoring
        </span>
    </div>
    <div class="textContainer">
        <h4>Dashboard</h4>
    </div>
    <h1>{{userBan.nameuser}}</h1>
</div>
<div class="container container-Dash mt-4">
    <div class="card">
        <div class="card-header">
            <h4>Dados de Usuários cadastrados no sistema</h4>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h4>Quantidade de usuários cadastrados no ECHO: {{quantUser}}</h4>
            </div>
        </div>
        <div class="container mt-4">
            <form action="" class="form-search-person-admin">
                <div class="mb-3">
                    <label for="search"></label>
                    <input type="text" placeholder="Pesquisar alguém?" class="form-control" name="q-localAdmin" id="search">
                </div>
                <div class="">
                    <button type="submit" class="btn btn-success">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="container containerDataUser">
            {{#each usuarios}}
                {{#if (eq this.role 'admin')}}
                    <div class="card-body admins">
                        <ul class="list-group">
                            <li class="list-group-item"><h4 class="text-success">{{this.role}}</h4></li>
                            <li class="list-group-item"><p>{{this._id}}</p></li>
                            <li class="list-group-item"><strong>Nome Completo:</strong> {{this.username}}</li>
                            <li class="list-group-item"><strong>Nome de usuário:</strong> {{this.nameuser}}</li>
                        <li class="list-group-item"><strong>E-mail:</strong> {{this.useremail}}</li>

                        {{#if this.emailVerificado}}
                        <li class="list-group-item"><strong>Status de validação:</strong> 
                            <span class="text-success">
                                E-mail verificado
                            </span>

                        {{else}}
                        <li class="list-group-item"><strong>Status de validação:</strong>
                            <span class="text-danger">
                                E-mail não verificado
                            </span>
                        {{/if}}
                        </li>
                        <li class="list-group-item listBtn">
                            <a href="/admin/editUser/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-primary btnEdit">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>Editar usuário
                                </button>
                            </a>
                            <a href="/admin/dashboard/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-danger">
                                    <span class="material-symbols-outlined">
                                        gpp_bad
                                    </span>
                                    Banir usuário
                                </button>
                            </a>
                            <a href="/admin/OnOffUser/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-success">
                                    <span class="material-symbols-outlined">
                                        power_settings_new
                                    </span>
                                    Ativar/Desativar usuário
                                </button>
                            </a>
                        </li>
                        </ul>
                    </div>
                {{else if (eq this.role 'SUPER_ADMIN')}}
                    <div class="card-body admins">
                        <ul class="list-group">
                            <li class="list-group-item"><h4 class="text-danger">{{this.role}}</h4></li>
                            <li class="list-group-item"><p>{{this._id}}</p></li>
                            <li class="list-group-item"><strong>Nome Completo:</strong> {{this.username}}</li>
                            <li class="list-group-item"><strong>Nome de usuário:</strong> {{this.nameuser}}</li>
                        <li class="list-group-item"><strong>E-mail:</strong> {{this.useremail}}</li>

                        {{#if this.emailVerificado}}
                        <li class="list-group-item"><strong>Status de validação:</strong> 
                            <span class="text-success">
                                E-mail verificado
                            </span>

                        {{else}}
                        <li class="list-group-item"><strong>Status de validação:</strong>
                            <span class="text-danger">
                                E-mail não verificado
                            </span>
                        {{/if}}
                        </li>
                        <li class="list-group-item listBtn">
                            <a href="/admin/editUser/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-primary btnEdit">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>Editar usuário
                                </button>
                            </a>
                            <a href="/admin/dashboard/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-danger">
                                    <span class="material-symbols-outlined">
                                        gpp_bad
                                    </span>
                                    Banir usuário
                                </button>
                            </a>
                            <a href="/admin/OnOffUser/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-success">
                                    <span class="material-symbols-outlined">
                                        power_settings_new
                                    </span>
                                    Ativar/Desativar usuário
                                </button>
                            </a>
                        </li>
                        </ul>
                    </div>
                {{else if (eq this.role 'user')}}
                    <div class="card-body users">
                        <ul class="list-group">
                            <li class="list-group-item"><h4>{{this.role}}</h4></li>
                            <li class="list-group-item"><p>{{this._id}}</p></li>
                            <li class="list-group-item"><strong>Nome Completo:</strong> {{this.username}}</li>
                            <li class="list-group-item"><strong>E-mail:</strong> {{this.useremail}}</li>

                            {{#if this.emailVerificado}}
                            <li class="list-group-item"><strong>Status de validação:</strong> 
                                <span class="text-success">
                                    E-mail verificado
                                </span>

                            {{else}}
                            <li class="list-group-item"><strong>Status de validação:</strong>
                                <span class="text-danger">
                                    E-mail não verificado
                                </span>
                            {{/if}}
                            </li>
                            <li class="list-group-item listBtn">
                                <a href="/admin/editUser/{{this._id}}">
                                    <button class="btn btn-Admin-Tool btn-primary btnEdit">
                                        <span class="material-symbols-outlined">
                                            edit
                                        </span>Editar usuário
                                    </button>
                                </a>
                            <a href="/admin/dashboard/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-danger">
                                    <span class="material-symbols-outlined">
                                        gpp_bad
                                    </span>
                                    Banir usuário
                                </button>
                            </a>
                            <a href="/admin/OnOffUser/{{this._id}}">
                                <button class="btn btn-Admin-Tool btn-success">
                                    <span class="material-symbols-outlined">
                                        power_settings_new
                                    </span>
                                    Ativar/Desativar usuário
                                </button>
                            </a>
                        </li>
                        </ul>
                    </div>
                {{else}}
                    <p>Ninguém por aqui ):</p>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h4>Dados Posts</h4>
        </div>
        <div class="card-body">
            <h3>Em breve!</h3>
        </div>
    </div>
</div>

