<div class="container mt-4 content-conections">
    <h3>Suas conexões: </h3>
    {{#each friendsList}}
        <div class="card cardConections mt-4">
            <div class="card-body listFriendsPage">
                {{#if this.profilePicture}}
                <div>
                    <img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" class="imgUserComent" alt="">
                </div>
                <div class="btnInfoConnections">
                    <div>
                        <strong>{{this.nameuser}}</strong> <br>
                    </div>
                    <div>
                        <a href="/user/infoConections/{{this._id}}"><button class="btn btn-success">+Info</button></a>
                    </div>
                </div>
                    
                {{else}}
                <div>
                    <img src="/uploads/default-profile.png" class="imgUserComent" alt="">
                </div>
                <div>
                    {{this.nameuser}}
                </div>
                {{/if}}
            </div>
        </div>
    {{else}}
        <div class="container infoNoConnections d-flex justify-content-center">
            <h3>Você não tem nenhuma conexão ainda</h3>
        </div>
    {{/each}}
</div>