<div class="container mt-4 mb-5">
    <div class="card">
        {{!-- Card de criação de grupo --}}
        <div class="card-header">
            <h3>Criar novo grupo de estudos</h3>
        </div>
        <form action="/user/createGroup/add" method="post">
            <input type="hidden" value="{{User._id}}" name="createdBy">
            <div class="card-body">
                <div class="mb-3">
                    <label for="nameGroup">Nome do grupo</label>
                    <input type="text" class="form-control" name="nameGroup" id="nameGroup">
                </div>
                <div class="mb-3">
                    <label for="description">Descrição do grupo</label>
                    <input type="text" class="form-control" name="description" id="description">
                </div>
                <div class="mb-3">
                    <label for="status">Privacidade do grupo:</label>
                    <select class="form-select" aria-label="Default select example" name="status" id="status">
                        <option selected>Selecione uma das opções</option>
                        <option value="public">Público</option>
                        <option value="private">Privado</option>
                    </select>
                </div>
                <div id="definition">

                </div>
                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="p-3">Suas conexões</h4>
                        </div>
                        <div class="card-body">
                            {{#each connect}}
                                <div class="content-list-conections">
                                    <div>
                                        <img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" class="imgUserComent" alt="">
                                    </div>
                                    <div>
                                        {{this.nameuser}}
                                    </div>
                                </div>
                                <hr>
                            {{/each}}
                        </div>
                    </div>
                    <label id="infoCreateGroup" for="connections">Convidar Conexões: <span><i>*Você pode selecionar mais de um membro segurando Ctrl</i></span></label>
                    <select class="form-select" name="members[]" id="connections" multiple required size="5" aria-label="Size 3 select example">
                        {{#each connect}}
                            <option value="{{this._id}}">{{this.nameuser}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Criar Grupo</button>
            </div>
        </form>
    </div>
</div>

<script>
    const definition = document.getElementById('definition')
    definition.style.display = 'none'
    document.getElementById('status').addEventListener('change', (element) => {
        console.log(element.target.value)

        if(element.target.value == 'public' || element.target.value == 'private'){
            definition.style.display = 'block'
        }
        if(element.target.value === 'public'){
            definition.innerHTML = `<p class="text-success">*Ao escolher o status "público" o grupo pode ser acessado por todos, o conteúdo ficará disponível para acesso de quem não participa.</p>`
        }
        else if(element.target.value === 'private'){
            definition.innerHTML = `<p class="text-success">*Ao escolher o status <span class="text-danger">"privado"</span> o grupo só será acessado por quem o admin adicionar.</p>`
        }
        else{
            definition.style.display = 'none'
        }
    })
    
</script>