<div class="container mt-4">
    <h2>Seus Grupos de Estudo:</h2>
    <div class="mt-4">
        {{#each groups}}
        <div class="card cardListGroups">
            <div class="card-header bg-dark text-light">
                <span>Grupo:</span>
                <div class="data-name-status">
                    <h3>{{this.nameGroup}}</h3>
                    {{#if (eq this.status "private")}}
                        <h3 class="d-flex align-items-center">
                            <span class="material-symbols-outlined p-2">
                                lock
                            </span>
                            {{this.status}}
                        </h3>
                    {{else}}
                        <h3 class="d-flex align-items-center">
                            <span class="material-symbols-outlined p-2">
                                public
                            </span>
                            {{this.status}}
                        </h3>
                    {{/if}}
                </div><br>
                <span>Criado por: </span>
                <div class="member-list-group">
                    <div>
                        <img src="http://drive.google.com/thumbnail?id={{this.createdBy.profilePicture}}" class="imgUserComent" alt="">
                    </div>
                    <div>
                        <span>{{this.createdBy.nameuser}}</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4>Descrição</h4>
                <p>{{this.description}}</p>
                <hr>
                <div class="mb-3">
                    <div class="titleAdmins">
                        <strong>Administradores do grupo: </strong>
                    </div>
                    <hr>
                    <div class="areaAdmins">
                        {{#each this.admin}}
                        <div class="d-block gap-3 justify-content-center align-items-center">
                            <div class="imgAdmin">
                                <a href="/user/infoConections/{{this._id}}"><img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" class="imgUserComent" alt=""></a>
                            </div>
                            <div>
                                <span class="bg-dark rounded p-2 text-light">{{this.nameuser}}</span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <hr>
                </div>
                <h4>Participantes</h4>
                <ul class="listGroupMembers">
                    {{#each this.members}}
                    <div class="itemListGroup">
                        <a href="/user/infoConections/{{this.user._id}}">
                            <img src="https://drive.google.com/thumbnail?id={{this.user.profilePicture}}"
                                class="imgUserComent" alt="">
                        </a>
                        <span>{{this.user.nameuser}}</span>
                    </div>
                    <hr>
                    {{/each}}
                </ul>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-center">
                <a href="/user/group/{{this._id}}">
                    <button class="btn m-3 btn-success">Acessar</button>
                </a>
            </div>
        </div>
        {{else}}
        <div class="container mt-4 contentNoGroup d-flex justify-content-center">
            <h3>Você ainda não está em nenhum grupo</h3>
        </div>
        {{/each}}
    </div>
</div>