<div class="jumbotron banner">
    <div class="bannerPicture">
        <div>
            <h1 class="display-4">Seja bem vindo(a), {{nomeuser.nameuser}}!</h1>
            <p class="lead">Temos alguns posts esperando por você.</p>
        </div>
    </div>
    <hr class="my-4">
    <p>Que tal compartilhar algo incrível hoje?</p>
    <p class="lead">
        <a href="/user/post">
            <button class="btn btn-primary btnAddPost">Escrever Post
                <span class="material-symbols-outlined">
                    notes
                </span>
            </button>
        </a>
    </p>
</div>
<div class="main-content">
    <div class="side-home-icon">
        <span class="material-symbols-outlined d-none">
            filter_alt
        </span>
        <a href="/user/relevants">
            <li id="btnFilterPoster">
                <span class="textBtn">
                    Posts mais relevântes
                </span>
                <small class="textMob">Mais Curtidos</small>
                <span class="material-symbols-outlined">
                    filter_list
                </span>
            </li>
        </a>
        <form action="/user/searchPost" method="get" class="formSearchPosts">
            <div>
                <label for="searchPosts"></label>
                <input type="text" placeholder="Busque por tag..." class="form-control search" name="tag">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </form>
    </div>
    {{#each post}}
    <div class="container contentPost p-3">
        <div class="card">
            <div class="card-header headerPublic card-publication">
                <div class="fotoUserPost">
                    <div class="dropdown" id="postTool">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-symbols-outlined">
                                more_horiz
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/infoConections/{{this.author._id}}">Informações da
                                    conta</a></li>
                            {{#if (eq this.author._id ../isLoggedUserId)}}
                            <li>
                                <a class="dropdown-item" href="/user/editPost/{{this._id}}">Editar</a>
                            </li>
                            <form action="/user/deletePost/{{this._id}}" method="post">
                                <li>
                                    <button class="dropdown-item text-danger" type="submit">Deletar</button>
                                </li>
                            </form>
                            {{else}}
                            <li onclick="openBan()" class="d-flex       dropdown-item btnBanTool text-danger">
                                denunciar
                                <span class="material-symbols-outlined iconBan ">
                                    report
                                </span>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                    <button class="iconInfo" data-user="{{this._id}}" onclick="ativeInfoUser(this)">
                        <span class="material-symbols-outlined">
                            info_i
                        </span>
                    </button>
                    {{#if (eq author.profilePicture "/default-profile.png")}}
                    <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9"
                        class="imgUserPost" alt="">
                    {{else}}
                    <img title="{{author.biography}}"
                        src="https://drive.google.com/thumbnail?id={{author.profilePicture}}" class="imgUserPost"
                        alt="">
                    {{/if}}
                </div>
                <div class="dataPost">
                    <p>Publicação de -
                        <small>
                            <strong>{{this.author.nameuser}}
                                {{#if (eq this.author.role "SUPER_ADMIN")}}
                                <span class="text-danger tagSA">
                                    {{this.author.role}}
                                </span>
                                {{else if (eq this.author.role "admin")}}
                                <span class="text-success">
                                    {{this.author.role}}
                                </span>
                                {{/if}}
                            </strong>
                        </small>
                    </p>
                    <div>
                        <small>publicado em {{this.dataFormatada}}</small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2>{{this.titulo}}</h2>
                <hr>
                <p>{{{this.conteudo}}}</p>
            </div>
            <div class="card-footer actionBtn b-3">
                <div class="like" id="like-buttom-{{this._id}}">
                    <button class="btnLike">
                        <span title="-" class="material-symbols-outlined likeIcon">
                            thumb_up
                        </span>
                    </button>
                    <span class="like-counts">
                        {{#if totalLikes}}
                            {{totalLikes}}
                        {{/if}}
                    </span>
                </div>
                <div class="coments">
                    <button data-post-id="{{this._id}}" onclick="openComments(this)" class="btnAtiveComments">
                        <span class="material-symbols-outlined commentIcon">
                            comment
                        </span>
                    </button>
                    <span class="comments-counts">{{this.comentarios.length}}</span>
                </div>

                <div class="share d-none align-items-center">
                    <span class="material-symbols-outlined shareIcon">
                        share
                    </span>
                    <span class="text-danger">*Em desenvolvimento</span>
                </div>
            </div>
            {{!-- Preview de curtidas --}}
            <div class="card-footer">
                <div class="previewLikes">
                    <strong class="smallText">Curtido por: </strong>
                    {{#each previewLikes}}
                        <div>
                            {{#if (eq profilePicture "/uploads/default-profile.png")}}
                                <a class="text-dark" href="/user/infoConections/{{this._id}}">
                                    <span class="material-symbols-outlined imgIconNone">
                                        account_circle
                                    </span>
                                </a>
                            {{else}}
                                <a href="/user/infoConections/{{this._id}}">
                                    <img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" class="imgResponseSmall" alt="">
                                </a>
                            {{/if}}
                        </div>
                    {{/each}}
                    <div>
                        {{!-- Botão para abrir modal --}}
                        <button data-posts-id="{{this._id}}" class="btn btn-link" onclick="openLikesInfo(this)">Ver todos</button>
                    </div>
                </div>
            </div>
            <div class="p-3">
                <strong>Tags:</strong>
                {{#each tags}}
                <span class="tagStyle">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- Janela de comentários --}}
    <div class="windowComments" id="windowComments-{{this._id}}">
        <button class="btnCloseComments">
            <span class="material-symbols-outlined iconCloseComments" id="closeComments" onclick="CloseComment()">
                keyboard_double_arrow_down
            </span>
        </button>
        <div class="containerComments">
            <div class="localComments">
                {{#if this.comentarios.length}}
                {{#each this.comentarios}}
                <div class="CommentStyle">
                    <div class="userInfoComment">
                        <div>
                            {{#if (eq author.profilePicture "/default-profile.png")}}
                            <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt=""
                                class="imgUserComent">
                            {{else}}
                            <a href="/user/infoConections/{{this.author._id}}">
                                <img title="{{author.biography}}"
                                    src="https://drive.google.com/thumbnail?id={{author.profilePicture}}"
                                    class="imgUserComent" alt="">
                            </a>
                            {{/if}}
                        </div>
                    </div>
                    <div>
                        <a href="/user/infoConections/{{this.author._id}}" class="text-decoration-none text-dark">
                            <div class="nameAuthorComment">
                                <div>
                                    <strong>{{author.nameuser}}</strong>
                                </div>
                                <div class="dataComment">
                                    <i>{{this.dataFormatada}}</i>
                                </div>
                            </div>
                        </a>
                        <hr class="separatorComment">
                        <div class="content">
                            {{text}}
                        </div>
                        <button class="responseComments" data-id="{{this._id}}" onclick="ativeRes(this)">
                            <span class="res">Responder</span>
                        </button>
                        <div class="responsesArea" id="responsesArea-{{this._id}}">
                            <div class="mb-3">
                                <a href="/user/infoConections/{{../../User._id}}"><img class="imgResponseSmall" src="https://drive.google.com/thumbnail?id={{../../User.profilePicture}}" alt=""></a>
                            </div>
                            {{!-- Formulário de resposta de comentário --}}
                            <form class="responseTextarea" action="/user/addResponse/{{this._id}}" method="post">
                                <input type="hidden" value="{{../../User._id}}" name="author">
                                <div>
                                    <textarea name="content" placeholder="Adicione sua resposta..." class="form-control" id=""></textarea>
                                    <div>
                                        <button type="submit" class="btnResponse btnRes">
                                            <small class="res">responder</small>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{!-- Área de informar respostas --}}
                        <div>
                            <button class="btnInfoRes" data-id-Res="{{this._id}}" onclick="ativeArea(this)">
                                respostas
                            </button>
                            <div class="area-resp" id="area-resp-{{this._id}}">
                                <hr>
                                {{!-- Respostas --}}
                                {{#each respostas}}
                                    <div class="responsesComment">
                                        <div class="authorIdent">
                                            <div>
                                                <a href="/user/infoConections/{{this.author._id}}">
                                                    <img title="{{author.biography}}" src="https://drive.google.com/thumbnail?id={{author.profilePicture}}" alt="" class="imgResponseSmall">
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="text-decoration-none" href="/user/infoConections/{{this.author._id}}">
                                                <div class="nameAuthorComment">
                                                    <div>
                                                        <strong>{{author.nameuser}}</strong>
                                                    </div>
                                                    <div class="dataComment">
                                                        <strong><i>{{dataFormatada}}</i></strong>
                                                    </div>
                                                </div>
                                            </a>
                                            <hr class="separatorComment"> 
                                            <div class="content">
                                                {{content}}
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {{else}}
                                    <small>Não tem nenhuma resposta por aqui...🤔</small>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{!-- Ferramentas de comentários (editar, deletar, denunciar, curtir) --}}
                    <div class="commentsTools">
                        {{!-- Botão de ferramentas (editar, deletar, denunciar) --}}
                        <div class="dropdown tools">
                            <button class="btn btn-secondary btnToolsComments dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                            </button>
                            {{!-- Condição de ferramentas --}}
                            {{#if (eq this.author._id ../../User._id)}}
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/user/editComment/{{this._id}}">Editar</a></li>

                                    <form action="/user/deleteComment/{{this._id}}" method="post">
                                        <button type="submit" class="dropdown-item text-danger">Deletar</button>
                                    </form>
                                </ul>
                            {{else}}
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-danger" href="#">Denunciar usuário</a></li>
                                </ul>
                            {{/if}}
                            {{!-- Botão de like do comentário --}}
                            <div class="likeBtnComment d-flex align-items-center" id="like-comment-{{this._id}}">
                                <button class="likeBtnSmall">
                                    <span class="material-symbols-outlined likeComment">
                                        thumb_up
                                    </span>
                                </button>
                                <span class="quantLikes">{{this.like.length}}</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p>Seja o primeiro(a) a comentar aqui!</p>
                {{/if}}
            </div>
        </div>
        <form action="/user/home/comment" class="form-comment" method="post">
            <input type="hidden" value="{{author._id}}" id="userIdComment" name="author">
            <input type="hidden" value="{{this._id}}" name="post" id="postId" class="postId">
            <div class="mb-3 localText">
                <label for="comment"></label>
                <textarea placeholder="O que achou disso?" name="text" class="form-control coment-input"
                    id=""></textarea>
            </div>
            <button type="submit" class="btnSendComment">
                <span class="material-symbols-outlined sendComment">
                    send
                </span>
            </button>
        </form>
    </div>
    {{!-- Janela de informação de usuários --}}
    <div class="cardProfile" id="cardProfile-{{this._id}}">
        <div class="card cardProfileData" style="width: 18rem;">
            <div class="closeCardProfile" id="closeCardProfile">
                <span class="material-symbols-outlined iconCloseProfile" id="iconCloseProfile"
                    onclick="closeInfoUser()">
                    cancel
                </span>
            </div>
            {{#if (eq author.profilePicture "/default-profile.png")}}
            <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9"
                class="cardPhot card-img-top" alt="" class="card-img-top">
            {{else}}
            <img src="https://drive.google.com/thumbnail?id={{author.profilePicture}}" class="cardPhot card-img-top"
                alt="">
            {{/if}}
            <div class="card-body body-biography-card">
                <h5 class="card-title">Biografia</h5>
                <hr>
                <p class="card-text">{{author.biography}}</p>
                {{!-- <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Seguir</a>
                </div> --}}
            </div>
        </div>
    </div>

    {{!-- Janela de denúncia --}}
    <div class="windowBan" id="windowBan">
        <div class="card ban">
            <div class="card-header">
                <h4>Por que você quer denunciar este conteúdo?</h4>
            </div>
            <div class="card-body">
                <select class="form-select" id="selectBan" aria-label="Default select example">
                    <option selected>Menu de opções</option>
                    <option value="Improprio">Impróprio</option>
                    <option value="Outro">Outro</option>
                </select>
                <div class="mt-4 w-100 d-none" id="textOther">
                    <label for="other">Informe outro motivo</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="card-footer btnSendBan">
                <button class="btn btn-success">Confirmar</button>
                <small class="text-danger">*Área em desenvolvimento</small>
            </div>
        </div>
    </div>
    {{!-- Modal com lista de quem curtiu --}}
    <div class="windowLikes" id="windowLikes-{{this._id}}"> 
        <div class="dataLikes card" id="dataLikes">
            <div class="card-header">
                <button class="btnIcon">
                    <span class="material-symbols-outlined closeWindowLikes" onclick="closeDataLikes()">
                        cancel
                    </span>
                </button>
            </div>
            <div class="card-body contentLikes">
                {{#each likes}}
                    <a class="text-decoration-none text-dark" href="/user/infoConections/{{this._id}}">
                        <div class="itemLikes">
                            <div>
                                <img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" alt="" class="imgUserComent">
                            </div>
                            <div>
                                {{this.nameuser}}
                            </div>
                        </div>
                    </a>
                    <hr>
                {{/each}}
            </div>
        </div>  
    </div>
    {{else}}
    <p>Nenhum post</p>
    {{/each}}
</div> 

{{!-- Janela modal de mudança de foto --}}
<div class="windowPhot" id="windowPhot">
    <div class="photo" id="photo">
        <form class="formPhoto" action="/user/home/{{User._id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="userId" value="{{User._id}}">
            {{#if (eq User.profilePicture "/default-profile.png")}}
            <img src="https://drive.google.com/thumbnail?id=1NT1cawdfecDY3W-YTfFkiyHHAQItTwB9" alt="">
            {{else}}
            <img src="https://drive.google.com/thumbnail?id={{User.profilePicture}}" class="imgUser" alt="">
            {{/if}}
            <div class="mb-3">
                <label for="formFileSm" class="form-label"></label>
                <input class="form-control text-dark form-control-sm" id="formFileSm" type="file" name="profilePhoto">
            </div>
            <button class="btn btn-success" type="submit">Adicionar</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
