<div class="jumbotron banner">
  <h1 class="display-4">Seja bem vindo(a), {{nomeuser.nameuser}}!</h1>
  <p class="lead">Temos alguns posts esperando por você.</p>
  <hr class="my-4">
  <p>Que tal compartilhar algo incrível hoje?</p>
  <p class="lead">
    <a href="/user/post">
        <button class="btn btn-primary btnAddPost">Escrever Post
            <span class="material-symbols-outlined">
                notes
            </span>
        </button>
    </a>
    </p>
</div>
 <div class="main-content">
{{#each post}}
        <div class="container contentPost p-3">
            <div class="card">
                <div class="card-header headerPublic card-publication">
                    <div>
                        <p>Publicação de - <small><strong>{{this.author.nameuser}}</strong></small>
                    </div>
                    <div>
                        <small>publicado em {{this.createdDate}}</small>
                    </div>
                </div>
                <div class="card-body">
                    <h2>{{this.titulo}}</h2>
                    <hr>
                    <p>{{this.conteudo}}</p>
                </div>
                <div class="card-footer actionBtn b-3">
                    <div class="like" id="like-buttom-{{this._id}}">
                        <span title="-"  class="material-symbols-outlined likeIcon">
                            thumb_up
                        </span>
                        <span class="like-counts">{{this.likes.length}}</span>
                    </div>
                    <div class="coments">
                        <span class="material-symbols-outlined commentIcon">
                            comment
                        </span>
                        <span class="comments-counts">0</span>
                    </div>
                    <div class="share">
                        <span class="material-symbols-outlined shareIcon">
                            share
                        </span>
                    </div>
                </div>
                <div class="p-3">
                    tags:
                    {{#each tags}}
                        <strong>|{{this}}|</strong>
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
    <p>Nenhum post</p>
{{/each}}
</div>
