<div class="jumbotron banner">
  <div class="bannerPicture">
      <div>
          <h1 class="display-4">Seja bem vindo(a), {{nomeuser.nameuser}}!</h1>
          <p class="lead">Temos alguns posts esperando por você.</p>
      </div>
      <div>
         <div class="photPerfil">
            {{#if (eq User.profilePicture "/default-profile.png")}}
                <img src="/uploads/default-profile.png" alt="">
            {{else}}
                <img src="{{User.profilePicture}}" class="imgUser" alt="">
            {{/if}}
                <button class="btn btn-dark" onclick="ativeWindowPhoto()">Nova foto 
                <span class="material-symbols-outlined">
                    image
                </span>
            </button>
        </div> 
      </div>
  </div>
  <hr class="my-4">
  <p>Que tal compartilhar algo incrível hoje?</p>
  <p class="lead">
    <a href="/user/post">
        <button class="btn btn-primary btnAddPost">Escrever Post
            <span class="material-symbols-outlined">
                notes
            </span>
        </button>
    </a>
    </p>
</div>
 <div class="main-content">
    <div class="side-home-icon">
        <span class="material-symbols-outlined d-none">
            filter_alt
        </span>
        <a href="/user/relevants">
            <li id="btnFilterPoster">
                <span class="textBtn">
                    Posts mais relevântes
                </span>
                <small class="textMob">Mais Curtidos</small>
                <span class="material-symbols-outlined">
                    filter_list
                </span>
            </li>
        </a>
        <form action="/user/searchPost" method="get" class="formSearchPosts">
            <div>
                <label for="searchPosts"></label>
                <input type="text" placeholder="Busque por tag..." class="form-control search" name="tag">
            </div>
            <div>
                <button type="submit" class="btn btn-success">Buscar</button>
            </div>
        </form>
    </div>
{{#each post}}
        <div class="container contentPost p-3">
            <div class="card">
                <div class="card-header headerPublic card-publication">
                    <div>
                        <p>Publicação de - <small><strong>{{this.author.nameuser}}</strong></small>
                    </div>
                    <div>
                        <small>publicado em {{this.createdDate}}</small>
                    </div>
                </div>
                <div class="card-body">
                    <h2>{{this.titulo}}</h2>
                    <hr>
                    <p>{{this.conteudo}}</p>
                </div>
                <div class="card-footer actionBtn b-3">
                    <div class="like" id="like-buttom-{{this._id}}">
                        <span title="-"  class="material-symbols-outlined likeIcon">
                            thumb_up
                        </span>
                        <span class="like-counts">{{this.likes.length}}</span>
                    </div>
                    <div class="coments">
                        <span class="material-symbols-outlined commentIcon">
                            comment
                        </span>
                        <span class="comments-counts">0</span>
                    </div>
                    <div class="share">
                        <span class="material-symbols-outlined shareIcon">
                            share
                        </span>
                    </div>
                </div>
                <div class="p-3">
                    <strong>Tags:</strong>
                    {{#each tags}}
                        <span class="tagStyle">{{this}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
    {{else}}
    <p>Nenhum post</p>
{{/each}}
</div>

<div class="windowPhot" id="windowPhot">
    <div class="photo" id="photo">
        <form class="formPhoto" action="/user/home" method="POST" enctype="multipart/form-data">
            {{#if (eq User.profilePicture "/default-profile.png")}}
                <img src="/uploads/default-profile.png" alt="">
            {{else}}
                <img src="{{User.profilePicture}}" class="imgUser" alt="">
            {{/if}}
            {{!-- <input class="text-light" type="file" name="profileImage"/> --}}
            <div class="mb-3">
                <label for="formFileSm" class="form-label"></label>
                <input class="form-control text-dark form-control-sm" id="formFileSm" type="file" name="profileImage">
            </div>
            <button class="btn btn-success" type="submit">Adicionar</button>
        </form> 
    </div>
</div>
