<div class="container content-data-connection mt-4">
   <div class="card">
    <div class="card-header d-flex align-items-center"> 
        <div>
            <img src="https://drive.google.com/thumbnail?id={{user.profilePicture}}" class="imgUserComent" alt="">
        </div>
        <div class="m-4">
            <h3>{{user.nameuser}}</h3>
        </div>
    </div>
    <div class="card-body">
        <h4 class="d-flex justify-content-center">Biografia</h4>
        {{#if user.biography}}
        <figure class="text-center">
        <blockquote class="blockquote">
            <p>{{user.biography}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">{{user.nameuser}}</cite>
        </figcaption>
        </figure>
        {{else}}
        <blockquote class="blockquote mb-0">
            <p class="d-flex justify-content-center">Perfil sem biografia</p> <br>
        </blockquote>
        {{/if}}
        <h4>Conexões de {{user.nameuser}}</h4>
        <div class="mb-3">
            <span>Total de conexões:</span>
            <strong>{{userConnect.length}}</strong>
        </div>
        {{#each userConnect}}
            <div class="card content-list-conections">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="https://drive.google.com/thumbnail?id={{this.profilePicture}}" class="imgUserComent" alt="">
                    </div>
                    <div class="p-2">
                        {{this.nameuser}}
                    </div>
                </div>
                <div>
                    <a href="/user/infoConections/{{this._id}}"><button class="btn btn-success">+Info</button></a>
                </div>
            </div>
        {{else}}
            <p>Não tem nenhuma conexão ainda</p>
        {{/each}}
    </div>
    <div class="card-footer d-flex justify-content-center">
        <form action="/user/addConection" method="post">
            <input type="hidden" value="{{user._id}}" name="userId" class="idConnected">
                {{#if (eq user.id User.id)}}
                    <button type="button" class="btn btnConect btn-success d-flex">
                        Você
                        <span class="material-symbols-outlined">
                            network_intelligence
                        </span>
                    </button>
                {{else}}
                    <button type="submit" class="btn btnConect btn-success d-flex">
                        Conectar
                        <span class="material-symbols-outlined">
                            network_intelligence
                        </span>
                    </button>
                {{/if}}
        </form>
    </div>
   </div>
</div>